.kasimir-modal {
    position: fixed;
    background-image: url(https://i.gyazo.com/fe458c4dc385dd6da687f883ca6e715b.jpg);
    background-position: top;
    display: flex;
    top: 50%;
    height: 30em;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid black;
    transition: 1.5s ease-in-out;
    border-radius: 10px;
    padding: 1em;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.kasimir-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.kasimir-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    border: 3px solid black;
    font-size: large;
    font-weight: bold;
    background-color: #080808;
    opacity: .9;
}

.kasimir-header .close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.modal-body {
    padding: 10px 15px;
    background-color: #080808;
    border: 2px black solid;
    border-radius: 10px;
    opacity: .9;
}

#overlay {
    position: fixed;
    transition: 1s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}