@font-face {
  src: url(../fonts/BreatheFire.ttf);
  font-family: dragon;
}

@font-face {
  src: url(../fonts/Hometown-rgdax.ttf);
  font-family: drawn;
}

$red: #DF0000;
$darkgray: rgb(31, 31, 31);
$midgray: #353535;
$lightgray: #b3b3b3;
$vamp: #080808;
$paladin: #b59e54;
$rogue: #555752;
$monk: #51a5c5;
$bard: #ab6dac;
$cleric: #91a1b2;
$warlock: #7b469b;
$wizard: #2a50a1;
$fighter: #7f513e;
$sorcerer: #992e2e;
$druid: #7a853b;
$barbarian: #e7623e;

@mixin sidebar {
  border-left: 6px solid black;
  border-right: 6px solid black;
  border-radius: 5px;
}

@mixin classBorder($color) {
  border-bottom: .5em solid $color;
  margin-bottom: 1em;
}

@mixin classButton($color) {
  margin-top: 1em;
  padding: 1em;
  width: 10em;
  height: 4em;
  border: $vamp solid 4px;
  background-color: white;
  border-radius: 5px;
  font-family: 'Spectral', serif;
  font-weight: bold;
  transition: background-color 1s, color .7s, border-radius 1s, font-size 1s, border-color 1s;

  &:hover {
    background-color: $color;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border-color: $color;
    border-radius: 10px;
  }
}

button {
  font-family: 'Spectral', serif;

}

body {
  margin: 0;
  font-family: 'Spectral', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2,
h3,
h4,
h5 {
  font-family: 'Spectral SC', serif;
}

h2 {
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
}

.classCardsList {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(24.1em, 24.1em));
  justify-items: center;
  justify-content: space-evenly;
}

.classCard {
  text-align: center;
  margin: 1em;
  margin-bottom: 4em;
  width: 20em;
  padding: .5em;
  @include sidebar();
  font-size: medium;

  section {
    text-align: center;
  }

  img {
    width: 50%;
  }

  h1 {
    color: black;
    font-size: 50px;
    // text-transform: uppercase;
    font-family: dragon;
    margin-top: .2em;
  }

  .druid {
    @include classBorder($druid);
  }

  .rogue {
    @include classBorder($rogue)
  }

  .sorcerer {
    @include classBorder($sorcerer)
  }

  .warlock {
    @include classBorder($warlock)
  }

  .wizard {
    @include classBorder($wizard)
  }

  .monk {
    @include classBorder($monk)
  }

  .fighter {
    @include classBorder($fighter)
  }

  .druid {
    @include classBorder($druid)
  }

  .cleric {
    @include classBorder($cleric)
  }

  .bard {
    @include classBorder($bard)
  }

  .barbarian {
    @include classBorder($barbarian)
  }

  .paladin {
    @include classBorder($paladin)
  }
}

.druid button {
  @include classButton($druid)
}

.warlock button {
  @include classButton($warlock)
}

.paladin button {
  @include classButton($paladin)
}

.wizard button {
  @include classButton($wizard)
}

.monk button {
  @include classButton($monk)
}

.barbarian button {
  @include classButton($barbarian)
}

.fighter button {
  @include classButton($fighter)
}

.sorcerer button {
  @include classButton($sorcerer)
}

.bard button {
  @include classButton($bard)
}

.rogue button {
  @include classButton($rogue)
}

.cleric button {
  @include classButton($cleric)
}

.class-icon {
  width: 15%;
}

nav {
  display: flex;
  justify-content: space-evenly;

  h1 {
    font-size: xx-large;
    color: red;
    font-family: 'Spectral SC', serif;
  }

  p {
    font-size: x-large;
    font-weight: bold;
  }

  a {
    color: $lightgray;

    &:hover {
      transform: scale(1.1);
      color: white;
      font-weight: bold;
    }
  }

  img {
    width: 7em;
    min-width: 7em;
    margin: 0;
    margin-top: 0;
  }

  color: lightgray;
  background-color: $vamp;
  border-bottom: 5px $vamp solid;
}

footer {
  background-color: darkgray;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
}

.sheet-stats {
  display: flex;
  flex-direction: column;
}

.character-sheet {
  @include sidebar();
  height: 45em;
  width: 70em;
  margin: auto;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  input[type=text] {
    border: none;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
  }


  input[type=number] {
    width: 3.5em;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
  }


  button {
    font-family: 'Spectral', serif;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: white;
    border: 1px solid $vamp;
    border-radius: 10px;
    margin: .3em;
    // transition: color .5s scale() .5s
  }

  button:hover {
    color: red;
    transform: scale(1.1);
    font-weight: bold;
    cursor: pointer;
  }

  .statName {
    font-variant-caps: all-small-caps;
    font-weight: bold;
  }

  .statBox {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 6em;
    padding: .3em;
    font-weight: bold;
    margin-bottom: .3em;
  }

  input[type=checkbox] {
    outline: none;
  }

  .stat-roll {
    text-transform: capitalize;
  }

  // header {
  //   background-image: url("../public/images/sheetName.svg");
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   height: 15em;
  //   input[type=text]{
  //     width: 7em;
  //   }
  //   color: lightgray;
  // }
}

.nat20 {
  color: lightgreen;
  font-size: 26px;
  font-family: drawn;
}

.nat1 {
  color: red;
  font-size: 26px;
  font-family: drawn;
}

.dice-modal {
  position: fixed;
  display: flex;
  top: 50%;
  width: 498px;
  height: 278px;
  min-width: 498px;
  min-height: 278px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .5s ease-in-out;
  padding: 1em;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;

  .roll-result {
    position: absolute;
    margin: 0;
    top: 14em;
    left: 13.5em;
    width: 180px;
    height: 30px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    opacity: .95;
    font-size: larger;
    text-align: center;
  }

  .close-button {
    height: 1em;
    width: 1em;
    position: absolute;
    top: -34px;
    right: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
  }

  img {
    width: 498px;
    height: 278px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .dice-text {
    font-size: 26px;
    text-align: center;
    transform: rotate(-20deg) translateX(5.675em) translateY(-6.15em);
    font-family: drawn;
    opacity: 0;
    transition: opacity .7s;
  }

  .text-active {
    opacity: 1;
  }
}

.dice-roll-background {
  background-image: url(/public/images/d20-dice.gif);
  background-repeat: no-repeat;
}

#overlay {
  position: fixed;
  transition: 1s ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(62, 61, 61, 0.5);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.dice-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.roster {
  section {
    margin-bottom: 2em;
  }
}

.container--login {
  width: 45em;
  padding: 2em;
  margin: auto;
  text-align: center;

  .form--login {
    border: 5px solid $darkgray;
    border-radius: 200px;
    // border-top: 7px solid $darkgray;
    height: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
      width: 20em;
      border: none;
      font-size: larger;

      input[type=email] {
        margin-top: 1em;
        border: none;
        border-bottom: 2px solid $vamp;
        font-size: large;

        &::placeholder {
          text-align: center;
        }

        &:focus {
          border: none;
          border-bottom: 2px solid $vamp;
          outline: none;
        }
      }


    }
  }

  .dragon-img {
    background-color: white;
    background-image: url(/public/images/dragonIcon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 240px;
    background-position: center;
  }

  button {
    @include classButton($red)
  }

  a {
    color: $vamp;
  }

  a:hover {
    color: $red;
  }
}

.roster {
  background-color: $darkgray;
  width: 100%;
  height: 100%;
  // background-image: url("/public/images/tavern-gif.gif");
  // background-repeat: no-repeat;
  // background-size: 80em;
  // background-position: center;
  background-color: $darkgray;
  display: flex;
  justify-content: space-around;

  .home {
    color: white;
    font-size: larger;
  }

  .links {
    text-align: center;
  }

  .img {
  background-image: url("/public/images/tavern-gif.gif");
  background-repeat: no-repeat;
  background-size: 80em;
  background-position: center;
  width: 100%;
  }

  .logo {
    margin-top: -2em;
    margin-bottom: -1.8em;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .flavor {
    width: 16em;
    color: $lightgray;
    background-color: rgba(31, 31, 31, .7);
    height: 25em;
    border: 4px solid $vamp;
    border-top: none;
    border-left: none;
    border-radius: 5px;
    padding: 1em;
  }

  .tavern-characters {
    padding-top: 1em;
    width: 15em;
    border: 5px $vamp solid;
    border-top: none;
    border-radius: 5px;
    color: #b3b3b3;

    a {
      color: white;

      &:hover {
        transform: scale(1.1);
        font-weight: bold;
      }
    }

    h4:hover {
      transform: scale(1.05);
      font-weight: bold;
    }
  }

  .character-card {
    // flex-wrap: nowrap;
    // display: flex;
    // justify-content: space-evenly;
  }

  button {
    border: 2px $vamp solid;
    border-radius: 10px;
    padding: .3em;
    width: 8em;
  }

  button:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
    transform: scale(1.1);
  }

  h4 {
    margin: 0;
    padding: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: white;
  border-left: 2px solid black;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $darkgray;
  border: 2px solid $darkgray;
  border-radius: 10px;
}