@font-face {
  src: url(../fonts/BreatheFire.ttf);
  font-family: dragon;
}

@font-face {
  src: url(../fonts/Hometown-rgdax.ttf);
  font-family: drawn;
}

$red: #DF0000;
$darkgray: rgb(31, 31, 31);
$midgray: #353535;
$lightgray: #b3b3b3;
$vamp: rgb(8, 8, 8);
$paladin: #b59e54;
$rogue: #555752;
$monk: #51a5c5;
$bard: #ab6dac;
$cleric: #91a1b2;
$warlock: #7b469b;
$wizard: #2a50a1;
$fighter: #7f513e;
$sorcerer: #992e2e;
$druid: #7a853b;
$barbarian: #e7623e;
$ranger: #507f62;

@mixin sidebar {
  border-left: 6px solid black;
  border-right: 6px solid black;
  border-radius: 5px;
}

@mixin classBorder($color) {
  border-bottom: .5em solid $color;
  margin-bottom: 1em;
}

@mixin classButton($color) {
  margin-top: 1em;
  padding: 1em;
  width: 10em;
  height: 4em;
  border: $vamp solid 4px;
  border-radius: 10px;
  font-family: 'Spectral', serif;
  font-weight: bold;
  transition: background-color 1s, color .7s, border-radius 1s, font-size 1s, border-color 1s, background-image 1s;

  &:hover {
    background-color: $color;
    background-image: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border-color: $color;
    border-radius: 10px;
  }
}

button {
  font-family: 'Spectral', serif;

}

body {
  margin: 0;
  font-family: 'Spectral', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2,
h3,
h4,
h5 {
  font-family: 'Spectral SC', serif;
}

h2 {
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
}

.classCardsList {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(24.1em, 24.1em));
  justify-items: center;
  justify-content: space-evenly;
}

.classCard {
  text-align: center;
  margin: 1em;
  margin-bottom: 4em;
  width: 20em;
  padding: .5em;
  @include sidebar();
  font-size: medium;

  section {
    text-align: center;
  }

  img {
    width: 50%;
  }

  h1 {
    color: black;
    font-size: 50px;
    // text-transform: uppercase;
    font-family: dragon;
    margin-top: .2em;
  }

  .druid {
    @include classBorder($druid);
  }

  .rogue {
    @include classBorder($rogue)
  }

  .sorcerer {
    @include classBorder($sorcerer)
  }

  .warlock {
    @include classBorder($warlock)
  }

  .wizard {
    @include classBorder($wizard)
  }

  .monk {
    @include classBorder($monk)
  }

  .fighter {
    @include classBorder($fighter)
  }

  .druid {
    @include classBorder($druid)
  }

  .cleric {
    @include classBorder($cleric)
  }

  .bard {
    @include classBorder($bard)
  }

  .barbarian {
    @include classBorder($barbarian)
  }

  .paladin {
    @include classBorder($paladin)
  }

  .ranger {
    @include classBorder($ranger);
  }
}

.druid button {
  @include classButton($druid)
}

.warlock button {
  @include classButton($warlock)
}

.paladin button {
  @include classButton($paladin)
}

.wizard button {
  @include classButton($wizard)
}

.monk button {
  @include classButton($monk)
}

.barbarian button {
  @include classButton($barbarian)
}

.fighter button {
  @include classButton($fighter)
}

.sorcerer button {
  @include classButton($sorcerer)
}

.bard button {
  @include classButton($bard)
}

.rogue button {
  @include classButton($rogue)
}

.cleric button {
  @include classButton($cleric)
}

.ranger button {
  @include classButton($ranger)
}

.class-icon {
  width: 15%;
}

#sheet-nav {
  height: 100%;
  display: flex;
  width: 300px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #080808;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  a {
    text-align: center;
    color: $lightgray;

    &:hover {
      color: white;
      font-weight: bold;
    }
  }

  .links {
    width: 220px;
    padding-top: .3em;
    text-align: center;
    font-size: larger;

    img {
      border: 2px solid $vamp;
      border-radius: 10px;

      &:hover {
        border: 2px solid white;
      }
    }
  }

  .banner1 {
    width: 120%;
  }

  img {
    width: 100%;
  }

  .logo {
    width: 90%;
    height: 15em;
    margin-top: -4em;
    border-bottom: 3px solid white;

    &:hover {
      transform: scale(1.1);
    }
  }
}

nav {
  height: 145px;
  display: flex;

  .logo {
    width: 180px;
    margin: auto;
    font-family: spectral;

    a {
      text-decoration: none;
    }

    img {
      width: 14.6em;
      margin-top: -50px;
      margin-bottom: -100px;
      margin-left: 6em;
    }

    .header{
      margin-top: 0;
      margin-left: 8em;
      font-size: 40px;
      color: red;
      font-variant-caps: all-small-caps;
      text-decoration: none !important;
      transition: ease-in-out 1s, text-decoration-color 1s, transform 1s;
      &:hover {
        transform: scale(1.3) !important;
        color: white;
        text-decoration: underline !important;
        text-decoration-color: red !important;
      }
    }
  }

  .banner1 {
    position: absolute;
    width: 16em;
    left: 0em;
  }

  .banner2 {
    position: absolute;
    width: 16em;
    right: 0em;
  }

  h1 {
    font-size: xx-large;
    color: $red;
    font-family: 'Spectral SC', serif;
  }

  p {
    font-size: x-large;
    font-weight: bold;
  }

  a {
    color: $lightgray;
    text-decoration: underline;
    font-variant-caps: all-small-caps;

    &:hover {
      color: white;
    }
  }

  img {
    width: 7em;
    min-width: 7em;
    margin: 0;
    margin-top: 0;
  }

  .links {
    padding-top: .3em;
    margin-right: 16em;

    img {
      border: 2px solid $vamp;
      border-radius: 10px;

      &:hover {
        border: 2px solid white;
      }
    }
  }

  color: lightgray;
  background-color: $vamp;
  border-bottom: 5px $vamp solid;
}

footer {
  background-color: darkgray;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
}

.sheet-stats {
  display: flex;
  flex-direction: column;
}

.character-sheet {
  margin-top: 8px;
  padding: 1em;
  margin-left: 21em;

  .roll-mod {
    text-align: center;
  }

  .delete {
    margin: auto;
    display: inline;

    button {
      @include classButton($red)
    }
  }

  .edit {
    margin-left: 30px;
    display: inline;

    button {
      @include classButton($vamp)
    }
  }

  input {
    font-family: spectral;
    font-size: medium;
  }

  .sheet-container {
    display: grid;
    gap: 4em;
    grid-template-columns: 100px 120px 200px 350px 250px;
    margin: auto;
    justify-content: center;
    justify-items: center;
  }

  .edit-info {
    h3 {
      text-align: left !important;
    }

    width: 10em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-image: url(/public/images/saves.svg);
    border-image-slice: 20 10;
    border-image-repeat: stretch;
    border-image-width: auto;
    height: fit-content;
  }

  header {
    padding: 1em;
    width: 9em;
    height: fit-content;
    border: 3px solid black;
    border-image: url(/public/images/saves.svg);
    border-image-slice: 20 10;
    border-image-repeat: stretch;
    border-image-width: auto;
    font-variant: all-small-caps;

    span {
      font-variant: small-caps;
      font-size: large;
      border-bottom: 2px solid black;
      display: inline-block;
      width: 8em;
    }
  }

  .skills {
    padding: 8px;
    height: 35em;
    box-sizing: border-box;
    border: 10px solid black;
    border-image-source: url("/public/images/saves.svg");
    border-image-slice: 65 10;
    border-image-width: auto;
    border-image-repeat: stretch;
  }

  .skill-bonus {
    display: inline-block;
    min-width: 10px;
    max-width: 10px;
  }

  .edit-skills {
    height: fit-content;
    box-sizing: border-box;
    border: 10px solid black;
    border-image-source: url("/public/images/saves.svg");
    border-image-slice: 65 10;
    border-image-width: auto;
    border-image-repeat: stretch;
  }

  .prof-bonus {
    background: url(https://app.roll20.net/images/dndstyling/proficency-bonus.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 13.5em;
    height: 64px;
    margin-bottom: 1em;

    span.pb {
      margin-left: .7em;
      font-size: x-large;
    }

    span {
      line-height: 65px;
      margin-left: 1.5em;
      font-size: small;
    }
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  h3 {
    padding: 2px;
    margin: 0px;
    text-align: center;
  }

  .saves {
    padding: .8em;
    grid-row-start: 1;
    grid-column-start: 2;
    border: 10px solid black;
    padding-bottom: 5px;
    border-image-source: url("/public/images/saves.svg");
    border-image-slice: 65 10;
    border-image-width: auto;
    border-image-repeat: stretch;
    margin-bottom: 12px;
  }

  .ac-init-speed-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  .ac {
    background-image: url("/public/images/AC.svg");
    background-repeat: no-repeat;
    width: 3em;
    line-height: 3.4em;
    font-size: larger;
  }

  .init {
    background-image: url("/public/images/vital-box.svg");
    background-repeat: no-repeat;
    width: 3.4em;
    line-height: 3em;
    font-size: larger;
  }

  .speed {
    background-image: url("/public/images/vital-box.svg");
    background-repeat: no-repeat;
    width: 3.4em;
    line-height: 3em;
    font-size: larger;
  }

  .hp-container {
    width: 10em;
    background-image: url("/public/images/mid-info.svg");
    background-repeat: no-repeat;
    height: 5em;
    text-align: center;
    font-size: xx-large;

    h3 {
      line-height: 4em;
      font-size: medium;
    }

    input {
      font-size: 32px;
      margin-top: 18px;
      width: 2em !important;
    }
  }

  .temp-hp-container {
    background-image: url("/public/images/mid-info.svg");
    background-repeat: no-repeat;
    height: 5em;
    line-height: 12px;
    text-align: center;
    font-size: xx-large;

    h3 {
      line-height: 5.5em;
      font-size: medium;
    }

    input {
      font-size: 32px;
      margin-top: 6px;
      width: 2em !important;
    }
  }

  .hit-dice-container {
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
    width: 50%;
    margin: auto;
    height: 5em;
    text-align: center;
    border: 5px solid black;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-image-source: url(https://app.roll20.net/images/dndstyling/vital-box.svg);
    border-image-slice: 15 15;
    border-image-width: auto;
    border-image-repeat: round;

    h3 {
      font-size: small;
    }

    input[type=number] {
      width: 2em;
      margin-top: 10px;
    }
  }

  .death-saves-container {
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 6px;
    height: 7.1em;
    margin-bottom: 2em;
    text-align: center;
    border: 5px solid black;
    border-image-source: url(https://app.roll20.net/images/dndstyling/vital-box.svg);
    border-image-slice: 15 15;
    border-image-width: auto;
    border-image-repeat: stretch;

    h3 {
      font-size: small;
    }

    span {
      margin-left: 9px;
    }
  }

  .initiative-roll {
    font-size: large;
    text-align: left;
    margin-left: -.5em;
  }

  select {
    outline: none;
    border: 2px solid $vamp;
    box-shadow: 0 10px 25px rgba($color: #313131, $alpha: .3);
    border-radius: 3px;
    font-family: Spectral;
    font-size: medium;
  }

  .save-button {
    border: 3px solid black;
    font-size: large;
    width: 70%;
    margin: auto;

    &:hover {
      color: $druid;
    }
  }

  .weapons {
    margin: auto;
    width: 100%;
    padding: 1em;
    height: fit-content;
    box-sizing: border-box;
    border: 10px solid black;
    border-image-source: url("/public/images/saves.svg");
    border-image-slice: 65 10;
    border-image-width: auto;
    border-image-repeat: stretch;

    .weapon-attack {
      display: flex;
      justify-content: center;
    }

    h3 {
      text-align: center;
      margin-bottom: 8px;
      padding-bottom: 4px;
    }

    button {
      display: flex;
      justify-content: space-between;
      font-family: 'Spectral', serif;
      font-size: 15px;
      text-align: left;
      padding: 5px;
      width: 80%;
      outline: none;
      border: 1px solid lightgray;
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
      border-bottom-left-radius: 80px;
      background-color: lightgray;
      margin: .3em;
    }
  }

  input[type=text] {
    outline: none;
    border: none;
    border-bottom: 1px black solid;
  }

  input[type=number] {
    width: 3.5em;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
  }

  button {
    font-family: 'Spectral', serif;
    font-size: 12px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 10px;
    margin: .3em;
  }

  button:hover {
    color: $red;
    font-weight: bold;
    cursor: pointer;
  }

  .statBox {
    text-align: center;
    border: 6px solid black;
    width: 5em;
    height: 4.5em;
    font-size: larger;
    margin-bottom: .3em;
    border-image-source: url("/public/images/ability-STR.svg");
    border-image-repeat: stretch;
    border-image-width: auto;
    border-image-slice: 34 15;

    .statName {
      // font-variant-caps: all-small-caps;
      font-size: 26px !important;
      line-height: .7em;
      margin-top: -40px !important;
      font-variant-caps: all-small-caps;
      background-color: transparent !important;
    }

    .stat-mod {
      font-weight: bold;
    }
  }

  input[type=checkbox] {
    outline: none;
  }

  .stat-roll {
    text-transform: capitalize;
  }

  // header {
  //   background-image: url("../public/images/sheetName.svg");
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   height: 15em;
  //   input[type=text]{
  //     width: 7em;
  //   }
  //   color: lightgray;
  // }
}

.nat20 {
  color: lightgreen;
  font-size: 26px;
  font-family: drawn;
}

.nat1 {
  color: $red;
  font-size: 26px;
  font-family: drawn;
}

.dice-modal {
  position: fixed;
  display: flex;
  top: 50%;
  width: 498px;
  height: 278px;
  min-width: 498px;
  min-height: 278px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .5s ease-in-out;
  padding: 1em;
  z-index: 10;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;

  .roll-result {
    position: absolute;
    margin: 0;
    top: 14em;
    left: 13.5em;
    width: 180px;
    height: 30px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    opacity: .95;
    font-size: larger;
    text-align: center;
  }

  .close-button {
    height: 1em;
    width: 1em;
    position: absolute;
    top: -34px;
    right: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
  }

  img {
    width: 498px;
    height: 278px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .dice-text {
    font-size: 26px;
    text-align: center;
    transform: rotate(-20deg) translateX(5.675em) translateY(-6.15em);
    font-family: drawn;
    opacity: 0;
    transition: opacity .7s;
  }

  .text-active {
    opacity: 1;
  }
}

.dice-roll-background {
  background-image: url(/public/images/d20-dice.gif);
  background-repeat: no-repeat;
}

#overlay {
  position: fixed;
  transition: 1s ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(62, 61, 61, 0.5);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.dice-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.roster {
  section {
    margin-bottom: 2em;
  }
}

.container--login {
  width: 45em;
  padding: 2em;
  margin: auto;
  text-align: center;

  .form--login {
    border: 5px solid $darkgray;
    border-radius: 200px;
    // border-top: 7px solid $darkgray;
    height: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
      width: 20em;
      border: none;
      font-size: larger;

      input[type=email] {
        margin-top: 1em;
        border: none;
        border-bottom: 2px solid $vamp;
        font-size: large;

        &::placeholder {
          text-align: center;
        }

        &:focus {
          border: none;
          border-bottom: 2px solid $vamp;
          outline: none;
        }
      }


    }
  }

  .dragon-img {
    background-color: white;
    background-image: url(/public/images/dragonIcon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 240px;
    background-position: center;
  }

  button {
    @include classButton($red)
  }

  a {
    color: $vamp;
  }

  a:hover {
    color: $red;
  }
}

.roster {
  width: 100vw;
  height: 100vh;
  background-image: url("/public/images/tavern-gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $darkgray;

  .home {
    color: white;
    font-size: larger;
  }

  .links {
    position: absolute;
    left: 7em;
    top: 1.7em;
    text-align: center;
  }

  .logo {
    margin-top: -2em;
    margin-bottom: -1.8em;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .flavor {
    border: 3px solid $vamp;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    margin-top: .5em;
    margin-left: 2em;
    width: 16em;
    color: $lightgray;
    background-color: rgba(8, 8, 8, .9);
    height: 25em;
    padding: 1em;
  }

  .tavern-characters {
    padding: 1.3em 0em;
    width: 100%;
    min-width: 1000px;
    background-color: rgba(8, 8, 8, .9);
    height: 6.2em;
    color: #b3b3b3;
    display: flex;
    justify-content: center;

    a {
      color: white;

      &:hover {
        transform: scale(1.1);
        font-weight: bold;
      }
    }

    h4 {
      margin: 0;
      padding: 0;
    }

    h4:hover {
      transform: scale(1.05);
      font-weight: bold;
    }
  }

  .character-card {
    display: flex;
    padding: 0 2em;
  }

  button {
    border: 2px $vamp solid;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: .3em;
    width: 8em;
  }

  button:hover {
    cursor: pointer;
    color: $red;
    font-weight: bold;
    transform: scale(1.1);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: white;
  border-left: 2px solid black;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A7171A;
  border: 2px solid #A7171A;
  border-radius: 10px;
}